body {
  margin: 0 auto;
  width: 80%;
}

h1 {
  text-align: center;
  background-color: #4c230a;
  color: white;
  margin-bottom: 0;
  padding: 0.5rem 0;
}

h2 {
  background-color: #f0ffce;
  text-align: center;
  padding: 0.5em;
  border: solid black;
  margin-top: 0;
}

div {
  display: flex;
}

section {
  flex: auto;
  border: dashed black;
}

h3 {
  text-align: center;
}

@media (max-width: 850px) {
  body {
    width: 95%;
  }

  div {
    flex-direction: column;
  }
}
